<!DOCTYPE html>
<html>
<head>
	<style>
    body{
        background-image: url('bg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
    }
</style>
<h1 style= "font-size:300%;color:darkblue"><img src="hope.jpg" height="40" width="50">HOPE</h1>

<table width="100%">
            <tr>
                <td align = "right" width="50%" class="lime">
                    <div style= "font-size:150%;">
                        <a href="homepage.php" style ="color:RosyBrown;"> Back</a><br>
                        <a href='../controller/logout.php'style ="color:RosyBrown;">Log Out</a>
                    </div>
                </td>
            </tr>
    </table>
</head>
	<title>JS Example</title>
	<script type="text/javascript" src="./js/script1.js"></script>
</head>
<body>
	<center>
	<h1 id="myh1">Search</h1>
	
	<input type="text" name="name" id="name" onkeyup="ajax()" />
	<input type="button" name="" value="Start">
	<div id="result">
	</center>	
	</div>
</body>
</html>