<?php
$title = "StartPage";

?>
<style>
    body{
        background-image: url('backgroundpic.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
    }
</style>
<h1 style= "font-size:300%;color:darkblue"><img src="hope.jpg" height="40" width="50">HOPE</h1>
</head>
<body>
    <div style="padding:30px">
        <table >
            <tr>
                <td align='right'>
                    <nav>
                        <h2 style="font-size:120%;color:coral"><i>
                        <a style="color:cornsilk"href='./login.php'>Log In</a> |
                        <a style="color:cornsilk" href='./registration.php'>Registration</a>
                        <br>
                        <a style="color:cornsilk" href=../assets/html/contactus.html>Contuct Us</a>
                      </i></h2>
                    </nav>
                </td>
            </tr>
    </table>
    </div>
    <div>
         <center>
      <h1 style= "font-size:180%;color:honeydew">
    <table >
      
        <tr>
             <td align='right'>
                    <nav>
                        <br>
                        <h1><br><br><br>
                        <a style="color:mistyrose"href='../assets/html/seework.html'>SEE OUR WORK | | |</a> 
                        <a style="color:mistyrose" href='../assets/html/readus.html'>READ ABOUT US</a><br><br>
                        <a style="color:lightcyan" >Your help can make them smile</a><br>
                        <a style="color:lightcyan" >Your Help || Our Hope </a>
                      </i></h2>
                  </h1>
                    </nav>
                </td>
            </tr>
      
    </table>
    </center>

</div>
</body>

